html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
  position: fixed;
  bottom: 50%;
  width: 100%;
  max-height: calc(100%);
  transform: translateY(50%);
  overflow-y: auto;
}

.content {
  margin: 0 auto;
  max-width: 600px;
  padding: 40px 20px;
}

.content-wide {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px 20px;
}

.no-selectable {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.no-break {
  display: inline-block;
}

.floating-top {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 1;
}
